<article>
  <header>
    <h1>Create Account</h1>
  </header>

  <%= form_with model: @user, url: registration_path do |f| %>
    <% if @user.errors.any? %>
      <article class="alert">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </article>
    <% end %>

    <label>
      Name
      <%= f.text_field :name, required: true, autofocus: true %>
    </label>

    <label>
      Email
      <%= f.email_field :email_address, required: true, autocomplete: "email" %>
    </label>

    <label>
      Password
      <%= f.password_field :password, required: true, autocomplete: "new-password" %>
    </label>

    <label>
      Confirm Password
      <%= f.password_field :password_confirmation, required: true %>
    </label>

    <%= f.submit "Create Account" %>
  <% end %>

  <footer>
    <p>Already have an account? <%= link_to "Sign in", new_session_path %></p>
  </footer>
</article>
